:root {

   /* =========================
      COLORS SYSTEM
  ========================= */

   /* Primary */
   --color-primary: #2f4f73;
   --color-primary-dark: #274C77;
   --color-primary-madium: #7990AB;
   --color-primary-light: #e6eef7;

   /* Background */
   --color-bg-page: #f5f7fb;
   --color-bg-card: #ffffff;
   --color-bg-input: #f8fafc;
   --color-bg-input-card: #274C7733;

   /* Borders */
   --color-border: #d6dde6;
   --color-border-light: #e2e8f0;

   /*Text */
   --color-text-main: #0f172a;
   --color-text-secondary: #64748b;
   --color-text-muted: #94a3b8;

   /*  Status */
   --color-success: #22c55e;
   --color-success-bg: #dcfce7;

   --color-danger: #ef4444;
   --color-danger-bg: #fee2e2;

   --color-warning: #f59e0b;
   --color-warning-bg: #fef3c7;

   --color-info: #3b82f6;
   --color-info-bg: #dbeafe;
   /* =========================
      SPACING SYSTEM
  ========================= */

   --space-xs: 4px;
   --space-sm: 8px;
   --space-md: 12px;
   --space-lg: 16px;
   --space-xl: 20px;
   --space-2xl: 24px;
   --space-3xl: 30px;

   /* =========================
      TYPOGRAPHY
  ========================= */

   --font-family: "Segoe UI", sans-serif;

   --text-xs: 11px;
   --text-sm: 13px;
   --text-md: 14px;
   --text-lg: 16px;
   --text-xl: 18px;
   --text-2xl: 22px;
   --text-3xl: 28px;

   /* =========================
    BORDER RADIUS
  ========================= */

   --radius-sm: 6px;
   --radius-md: 10px;
   --radius-lg: 12px;
   --radius-xl: 16px;
   --radius-pill: 999px;

   /* =========================
     SHADOWS
  ========================= */

   --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.04);
   --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
   --shadow-lg: 0 8px 25px rgba(0, 0, 0, 0.12);

   /* =========================
      TRANSITIONS
  ========================= */

   --transition-fast: 0.2s ease;
   --transition-normal: 0.3s ease;

}