/* الصفحة */
.refunds-page-container {
  padding: 20px 70px; 
  background: var(--color-bg-page);
  min-height: 100vh;
}

/* المحتوى في النص */
.refunds-content-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}