/* الكونتينر الخارجي */
.reports-actions {
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #ffffff; 
  border: 1px solid #cbd5e1;
  border-radius: 14px;

  padding: 10px;
  margin-bottom: 20px;
}

/* input */
.reports-actions input {
  flex: 1;

  padding: 12px 14px;
  border-radius: 12px;

  border: 1px solid #e2e8f0; 
  outline: none;

  font-size: 13px;
  background: #ffffff;
}

/* focus */
.reports-actions input:focus {
  border-color: #2f4f73;
}

/* الزرار */
.add-report-btn {
  background: #2f4f73;
  color: white;

  border: none;
  padding: 12px 18px;
  border-radius: 12px;

  cursor: pointer;
  font-size: 13px;
}