/* =============================
   Online Employees
============================= */

/* الكارت */
.online-employees-card {
  background: var(--color-bg-card);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

/* الهيدر */
.dashboard-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary-dark);
  color: white;
  padding: var(--space-md) var(--space-lg);
}

/* الدايرة الخضرا */
.online-employees-status-circle {
  width: 10px;
  height: 10px;
  background: var(--color-success);
  border-radius: 50%;
}

/* الليست */
.online-employees-list {
  padding: var(--space-lg);
}

/* كل موظف */
.online-employees-item {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
}

/* الصورة */
.online-employees-avatar {
  width: 35px;
  height: 35px;
  border-radius: var(--radius-pill);
  background: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* النص */
/* .online-info {
  display: flex;
  flex-direction: column;
} */

.online-employees-name {
  font-size: var(--text-md);
  font-weight: 500;
  margin: 0;
}

.online-employees-area {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}

/* النقطة */
.online-employees-dot {
  margin-left: auto;
  width: 10px;
  height: 10px;
  background: var(--color-success);
  border-radius: 50%;
}

/* الفوتر */
.dashboard-card-footer {
  padding: var(--space-md) var(--space-lg);
  font-size: var(--text-sm);
  color: var(--color-primary);
  cursor: pointer;
}